form {
    margin-bottom: 16px;
    padding: var(--panel-padding);
    border-radius: var(--panel-border-radius);
    width: 400px;
    background-color: var(--panel-bg);
    font-weight: bold;

    display: flex;
    flex-direction: column;
    gap: 16px;
}

select {
    margin-top: 6px;
    padding: 4px 8px;
}


/* result */

.result {
    margin-top: 16px;
    padding: var(--panel-padding);
    border-radius: var(--panel-border-radius);
    width: 400px;
    background-color: var(--panel-bg);
    font-weight: bold;

    display: flex;
    flex-direction: row;
    gap: 16px;
}