{% extends "base.html" %}

{% block extra_css %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/pages/edit.css') }}">
{% endblock %}

{% block content %}
<form action="/show_children_list" method="post">
    <legend>Show Children</legend>

    <label for="part_of_speech">Part of Speech:</label>
    <select id="part_of_speech" name="part_of_speech" onchange="this.form.submit()">
        {% for part in parts_of_speech %}
            <option value="{{ part.value }}" {% if part.value == selected_part_of_speech %}selected{% endif %}>{{ part.value }}</option>
        {% endfor %}
    </select>

    <label for="parent">Parent:</label>
    <select id="parent" name="parent" onchange="this.form.submit()">
        {% for parent in parents %}
            <option value="{{ parent }}" {% if parent == selected_parent %}selected{% endif %}>{{ parent }}</option>
        {% endfor %}
    </select>

    <table>
        <tr>
            <th>Children List</th>
        </tr>
        {% for child in children %}
        <tr>
            <td>{{ child }}</td>
        </tr>
        {% endfor %}
    </table>
</form>
{% endblock %}