{% extends "base.html" %}

{% block extra_css %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/pages/registration.css') }}">
{% endblock %}

{% block content %}
<form action="/parents_registration" method="post">
    <legend>Register a Parent Word</legend>

    <label for="word">Word:</label>
    <input type="text" id="word" name="word" required>

    <label for="part_of_speech">Part of Speech:</label>
    <select id="part_of_speech" name="part_of_speech" required>
        {% for part in parts_of_speech %}
            <option value="{{ part.value }}">{{ part.value }}</option>
        {% endfor %}
    </select>

    <button type="submit">Register</button>

    <p>{{ registration_result_parents }}</p>
</form>

<form action="/children_registration" method="post">
    <legend>Register a Child Word</legend>

    <label for="word">Word:</label>
    <input type="text" id="word" name="word" required>

    <label for="parent">Parent:</label>
    <select id="parent" name="parent" required>
        {% for parent in parents %}
            <option value="{{ parent }}">{{ parent }}</option>
        {% endfor %}
    </select>

    <button type="submit">Register</button>

    <p>{{ registration_result_children }}</p>
</form>
{% endblock %}